@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E3DCF2;
}

header {
    background-color: #730A13;
    color: #fff;
    padding: 16px;
}

h1 {
    font-style: italic;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    display: inline;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #fff;
    margin-right: 16px;
    font-size: 1.2rem;
}

header h1 {
    font-size: 2.2rem;
}

.about img {
    width: 95%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    margin: 64px auto;
}

.about article h1,
#products h1 {
    border-bottom: .15rem solid  #730A13;
    padding-bottom: 18px;
    font-size: 1.5rem;
    color: #730A13;
}

.about article p {
    margin: 48px 0;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;
}

.products-list li {
    width: 100%;
    list-style: none;
    margin: 48px 0;
}

.products-list li h3 {
    font-size: 1.4rem;
    margin: 12px 0;
}

.products-list li p {
    font-size: .85rem;
}

.products-list li img {
    width: 100%;
    margin-bottom: 24px;
    box-shadow: 5px 3px 8px #0000001c;
    opacity: 85%;
}

.products-list li img:hover {
    opacity: 100%;
}

.products-list li button {
    width: 100%;
    padding: 8px;
    margin-top: 18px;
    border-radius: 8px;
    background-color: #730A13;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: .9rem;
}

.products-list li button:hover {
    background-color: #5B0000;
}


@media screen and (max-width: 640px) {
    .container {
        max-width: 767px;
        width: 95%;
        margin: 0 auto;
    }

    header li a {
        margin-right: 12px;
        font-size: .9rem;
    }
    
    header h1 {
        font-size: 1.2rem;
    }

    .about img {
        width: 100% ;
        margin-bottom: 24px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    }
    
    .about {
        display: block;
        margin-top: 36px;
    }
    
    .about article h1,
    #products h1 {
        padding-bottom: 18px;
        font-size: 1.5rem;
        margin-top: 18px;
    }
    
    .about article p {
        margin: 24px 0;
    }

    #products h1 {
        margin-top: 54px;
    }

    .products-list {
        display: block;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        width: 80%;
    }
    
    .about img {
        width: 100%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
    }
    
    .about {
        display: block;
        margin: 64px auto;
    }
    
    .about article h1,
    #products h1 {
        margin-top: 36px;
    }
    
    .about article p {
        margin: 18px 0;
    }
    
    .products-list {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }
}
